body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    color:aqua;
    margin: 20px;
}

.Sounds {
    background-color: #f3f3f3;
}
.Buttonlist li{
    margin: 15px;
    width: 25px;
}

button {
    background-color: crimson;
    width: 30px;
    height: 30px;
}
